@import url('https://fonts.googleapis.com/css2?family=Peralta&family=Varela+Round&display=swap');

body{
    background-color: darkcyan;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Peralta', cursive;
    font-size: 40px;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: darkslategrey;
    color: azure;
    cursor: pointer;
}

nav ul li{
    padding: 0 20px; 
}
nav ul p{
    padding: 0 5px;
}

.brand img{
    width: 190px;
    padding: 0 10px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 70vh;
    background-color: darkgray;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 15px;
    padding: 30px;
    background-image: url(bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom{
    position: sticky;
    height: 130px;
    background-color: darkslategrey;
    color: wheat;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 15px;

}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color:black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    padding-bottom: 10px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 15px;
}

.timestamp{
    margin: 0 23px; 
}

.timestamp i{
    cursor: pointer;
    padding-bottom: 10px;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.8s ease-in;
}


